body{
  font-family: "monserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15%;
}
h1{
  font-family: "monserrat-black";
  font-size: 3em;
  line-height: 1.5;
}
.navbar-brand{
  font-family:"ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.title-img{
  transform: rotate(25deg);
  width:60%;
}
#features{
  padding:7% 15%;
  background-color: #fff;
  position: relative;
  z-index:1;


}
.icon:hover
{
  color: #ff4c68;
}

#testimonials
{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.testimonial-img
{
    border-radius: 100px;
    width: 10%;
}
#press{
  background-color: #ff4c68;
 padding: 20px 20px 50px;
 text-align: center;
}

.press-img{
  width: 15%;
}

@media (max-width:1028px)
{
.title-img{


  position:static;
  transform:rotate(0);
}
}
#cta
{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}
#footer{
  text-align: center;
}
